.noto-tc-serif {
  font-family: 'Noto Sans TC', sans-serif !important;
}

.font-shrikhand{
  font-family: 'Shrikhand', cursive !important;
}

.font-saira{
  font-family: 'Saira Extra Condensed', sans-serif !important;
}