<footer class="py-10 px-10 px-md-0 py-md-12 bg-white">
  <div class="container">
    <div class="row justify-content-between flex-column flex-md-row row-gap-2">
      <div class="col-auto">
        <a href="./index.html" class="font-shrikhand fs-8 text-dark mb-2 mb-md-0">Template</a>
        <p class="fw-bold mb-0 letter-4 d-none d-md-block">Copyright © 2023 </p>
      </div>
      <div class="col-auto">
        <span class="material-symbols-outlined fs-20">
          emergency
        </span>
      </div>
      <ul class="list-unstyled col-auto d-flex flex-column flex-md-row align-items-md-center gap-2 gap-md-6">
        <li><a href="" class="link-dark">關於我們</a></li>
        <li><a href="" class="link-dark">產品資訊</a></li>
        <li><a href="" class="link-dark">常見問題</a></li>
        <li><a href="" class="link-dark">隱私政策</a></li>
      </ul>
      <div class="col-auto d-md-none">
        <p class="fw-bold mb-0 letter-4">Copyright © 2023 </p>
      </div>
    </div>
  </div>
</footer>