<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <%- include('./layout/meta') -%>
  <%- include('./layout/font') -%>
</head>

<body>
  <%- include('./layout/header'); -%>

  <main class="contact pt-32 pt-lg-40 min-vh-100">

  </main>
  
  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>

</html>