<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>example</title>
  <%- include('./layout/font') -%>
</head>

<body>
  <div class="wrapper">
      <%- include('./layout/navbar') -%>
      <main class="main container-fluid">
        <p>main</p>


      </main>
  </div>

  <!-- <%- include('./layout/footer'); -%> -->
  <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
  <script type="module" src="../main.js"></script>
</body>

</html>