<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <%- include('./layout/meta') -%>
  <%- include('./layout/font') -%>
</head>

<body>
  <%- include('./layout/header'); -%>

  <main class="index pt-15 pt-lg-20 bg-primary">
    <section class="banner container-fluid px-md-20 pt-7 pt-md-14 min-vh-100">
      <!-- 旋轉區塊 -->
      <div class="row mb-md-14 mb-8">
        <div class="col-md-3 d-flex align-items-end d-none d-md-flex">
          <div class="border-1 border-bottom border-white pb-1 flex-grow-1">
            <a href="#" class="text-white">最新消息！新版本 v15.4 釋出，搶先體驗！</a>
          </div>
        </div>
    
        <div class="col-12 col-md-6 d-flex justify-content-center order-2 mb-8 mb-md-0">
          <img class="rotate-image flex-shrink-0" src="../assets/images/circle.png" alt="rotate-image">
        </div>
    
        <div class="col-12 col-md-3 d-flex flex-column justify-content-between order-1 order-md-3">
          <div class="border-1 border-top border-white pt-2 pt-lg-1 mb-8 mb-md-0">
            <a href="#" class="text-white letter-4">Template STUDIO</a>
          </div>
       
        </div>
        <!-- mobile title -->
        <div class="d-md-none text-white mb-0 mb-md-8 text-center order-3">
          <h1 class="fs-5 font-shrikhand letter-s20 mb-0">Template</h1>
          <h2 class="letter-12 fs-4 mb-0">擁抱未來科技，專屬您的3D立體投影陪伴機器人</h2>
        </div>
      </div>


    </section>

  </main> 
  <%- include('./layout/footer'); -%>

  <!-- register modal -->
  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-0 text-center">
        <div class="modal-header d-block position-relative border-bottom border-3 border-primary">
          <h5 class="modal-title serif" id="registerLabel">立刻成為會員</h5>
          <button type="button" class="btn-close text-primary position-absolute top-50 end-0 translate-middle-y opacity-100 me-3 mt-0 p-0" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="py-8 py-md-12">
          <p class="modal-body py-0 mb-4">
            立刻成為會員，加速活動報名流程並取得活動優惠資訊。<br />
            您也可以先報名活動，日後再註冊帳號，<br />
            系統會在認證您的Email後，協助您找回舊的訂單。
          </p>
          <a href="#" class="btn btn-primary text-white rounded-0 mx-auto px-5 py-2">立即成為會員</a>
        </div>
      </div>
    </div>
  </div>

  <script type="module" src="../main.js"></script>
  <script type="module" src="../assets/js/index.js"></script>

</body>

</html>